asgiref==3.6.0
certifi==2023.5.7
chardet==5.1.0
charset-normalizer==3.1.0
Django==4.2.1
et-xmlfile==1.1.0
idna==3.4
lml==0.1.0
numpy==1.24.3
openpyxl==3.1.2
pandas==2.0.1
psycopg2==2.9.6
pyexcel==0.7.0
pyexcel-io==0.6.6
pypng==0.20220715.0
python-dateutil==2.8.2
pytz==2023.3
qrcode==7.4.2
requests==2.30.0
six==1.16.0
sqlparse==0.4.4
texttable==1.6.7
typing_extensions==4.6.3
tzdata==2023.3
urllib3==2.0.2
xlrd==2.0.1
